#plus{
	width: 28px;
	height: auto;
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}
.navbar-left{
	width: 28px;
	height: auto;
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}
#settings-dots{
	height: 28px;
	width: auto;
	display: inline-block;
	margin-top: 10px;
	margin-left: 31px;
	margin-right: 10px;
	float: right;
}
#city-bar{
	display: inline-block;
	font-family:"Trebuchet MS", "Arial";
}
#city-name{
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
}
#city-indicator{
}
#navbar{
	text-align: center;
}
#dressedmannequin{
	margin-top: 20%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 150px;
}
#mannequin{
	width: 120px;
	height: auto;
	position: relative;
}
.clothing{
	position: absolute;
}
#hat{
	top:-15px;
	left: 36px;
	visibility: visible;
}
#hat-img{
	width: 50px;
	height:auto;
}
#hat2{
	top:-15px;
	left: 36px;
	visibility: hidden;
}
#hat2-img{
	width: 50px;
	height:auto;
}
#tshirt{
	top:60px;
	left:0px;
	visibility: hidden;
}
#tshirt-img{
	width: 120px;
	height: auto;
}
#tshirt2{
	top:60px;
	left:0px;
	visibility: hidden;
}
#tshirt2-img{
	width: 120px;
	height: auto;
}
#winter-jacket{
	top:60px;
	left:3px;
	visibility: hidden;
}
#hoodie{
	top:51px;
	left:0px;
	visibility: visible;
}
#hoodie-img{
	width: 120px;
	height: auto;
}
#hoodie2{
	top:51px;
	left:0px;
	visibility: hidden;
}
#hoodie2-img{
	width: 120px;
	height: auto;
}
#trousers{
	top:171px;
	left:27px;
	visibility: visible;
}
#trousers-img{
	width: 66px;
	height: auto;
}
#trousers2{
	top:171px;
	left:27px;
	visibility: hidden;
}
#trousers2-img{
	width: 66px;
	height: auto;
}
#shorts{
	top:171px;
	left:27px;
	visibility: hidden;
}
#shorts-img{
	width: 66px;
	height: auto;
}
#shorts2{
	top:171px;
	left:27px;
	visibility: hidden;
}
#shorts2-img{
	width: 66px;
	height: auto;
}
#scarf{
	top: 43px;
	left: 24px;
	z-index: 1;
	visibility: visible;
}
#scarf-img{
	width: 70px;
	height: auto;
}
#scarf2{
	top: 43px;
	left: 24px;
	z-index: 1;
	visibility: hidden;
}
#scarf2-img{
	width: 70px;
	height: auto;
}
#umbrella{
	top: 185px;
	left: 100px;
	z-index: 1;
	visibility: visible;
}
#umbrella-img{
	width: 30px;
	height:auto;
}
#umbrella2{
	top: 185px;
	left: 100px;
	z-index: 1;
	visibility: hidden;
}
#umbrella2-img{
	width: 30px;
	height:auto;
}

#slider{

}

.range_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10%;
}

.sliders_control {
  position: relative;
  min-height: 50px;
}
#time{
	border: 1px solid #4E4E4E;
	border-radius: 4px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 120px;
	font-family:"Trebuchet MS", "Arial";
}
#time-start,#time-end{
	display: inline-block;
}



input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;  
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}